*.o
r58emu
libr58.so
tests/unit/test_pit
tests/zex/cpm
__pycache__/
libmd5x.so
tests/unit/test_cdp1802
tests/md5x/build/
libmc25.so
tests/mc25/build/
libtmx1.so
tests/unit/test_upd7810
tests/tmx1/build/
